Server configuration

SERVER_IP=192.168.X.X

Home Assistant

HOME_ASSISTANT_IP=192.168.X.X
HOME_ASSISTANT_TOKEN=YOUR_LONG_LIVED_TOKEN

GitHub
GITHUB_USERNAME=your_username

Optional services

PORTAINER_URL=http://192.168.X.X:PORT
ADGUARD_URL=http://192.168.X.X/USER

Add more variables depending on your setup
